.pagina-pubblica
{
    @media screen and (max-width:@screen-sm) 
    {
        &.signed-out #barra_rete-sisal
        {
          margin-top:77px;
        }
    }
    
    @media screen and (min-width:@screen-sm) 
    {
        &.signed-out #first-level-navigation_container
        {
          position:relative;
          top:80px;
        }

        &.signed-out #barra_rete-sisal
        {
          position:relative;
          top:-32px;
        }
    }
    
    #help-center-block,
    #amplia-offerta
    {
      display:none;
    }  
}